html,
body,
p,
div {
	margin: 0;
	padding: 0;
}

.mui-active .mui-icon,
.mui-active .mui-tab-label {
	color: #b3b3b3;
}

.head {
	text-align: center;
	width: 100%;
	min-height: 15rem;
	background-image: url("../img/foodbg.jpg");
	background-size: 100% 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.head_up {
	font-weight: bold;
}

.head_center {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 10rem;
	height: 10rem;
	border: 0.5rem solid #F0F0F0;
	border-radius: 50%;
}

.head_center_down {
	padding-top: 0.85rem;
}

.has_eat {
	padding-top: 0.5rem;
	font-size: 2rem;
	font-weight: bold;
	color: white;
}

.meal {
	border-top: 1px solid #F8F8F8;
	border-bottom: 1px solid #F8F8F8;
	padding: 0.3rem;
	margin-top: 0.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
}

.breakfast>:first-child {
	padding-left: 0.2rem;
}

.breakfast>:last-child {
	padding-right: 0.2rem;
}

.meal_name,
.food_name {
	color: black;
	font-size: 1.1rem;
}

.food_item {
	border-bottom: 1px solid #F8F8F8;
	padding: 0.3rem;
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	background-color: #FFFFFF;
}

.food_item_img {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.5rem;
}
			
			@keyframes action_translateY {
				0% {
					transform: rotateY(0deg);
					opacity: 0;
				}
				50% {
					transform: rotateY(180deg);
					opacity: 0.2;
				}
				100% {
					transform: rotateY(360deg);
					opacity: 1;
				}
			}
			
			@keyframes action_translateYOut {
				0% {
					transform: rotateY(0deg);
					opacity: 1;
				}
				50% {
					transform: rotateY(180deg);
					opacity: 0.2;
				}
				100% {
					transform: rotateY(360deg);
					opacity: 0;
				}
			}
			
			.pop_out {
				animation: action_translateYOut 3s linear;
				display: none;
			}
			
			.pop_in {
				animation: action_translateY 0.5s linear;
				display: flex;
			}
			
			.pop {
				position: fixed;
				z-index: 100;
				bottom: 0;
				background-color: #FFFFFF;
				width: 100%;
				flex-direction: column;
			}
			
			.pop_head {
				display: flex;
				justify-content: space-between;
				margin-top: 1rem;
				font-size: 1.2rem;
				color: black;
			}
			
			.count_food {}
			
			.count_food_head {
				display: flex;
				justify-content: space-between;
				padding: 0.5rem;
				margin-bottom: 0.5rem;
				margin-top: 1.5rem;
			}
			
			.count_food_head_center {
				font-size: 1.5rem;
				color: #41CEA9;
				border-bottom: 2px #41CEA9 solid;
			}
			
			.keyboard {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				box-sizing: border-box;
				text-align: center;
			}
			
			.keyboard_item {
				line-height: 3rem;
				height: 3rem;
				width: 33.3%;
				border-top: 1px gainsboro solid;
				border-right: 1px gainsboro solid;
			}
			
			.count_food_unit {
				margin: 0 auto;
				display: flex;
				width: 50%;
				justify-content: space-around;
				margin-bottom: 0.5rem;
			}
			
			.mask {
				display: none;
				position: fixed;
				width: 100%;
				height: 100%;
				background-color: rgba(105, 105, 105, 0.7);
				top: 0;
				left: 0;
				z-index: 50;
			}